body{
padding:0px;
margin:0px;
background: #ddd;
background-position:top; 
font-family: 'Droid Serif', serif;
font-size:88%;
}

a{
color: rgb(0,120,168);
}
a:visited{
color: rgb(120,0,168);
}

p{
margin:0;
margin-top:5px;
margin-bottom:5px;
}

@-webkit-keyframes fadeIn {
    0%   {background: rgba(0,0,0,0);}
    100% {background: rgba(118,187,159,1);}
}

#header{
    -webkit-animation: fadeIn 2s; /* Chrome, Safari, Opera */
    animation: fadeIn 2s;
    background: rgba(118,187,159,1);
    width:100%;
    height:55px;
    text-align: center;
    padding:0px;
    padding-top:25px;
}

#header h1{
font-family: 'Oswald', sans-serif;
color: #fff;
padding:0px;
margin:0px;
text-transform:uppercase;
font-size:275%;
}

#body{
    
}

#content{
    margin: auto;
    width: 100%;
}

#map{
    height:100%;
    width:100%;
}

#extendBar{
    text-align:center;
    height:20px;
    background-color:#333;
}

#mapContainer {
    border-top: 3px rgba(94,150,127,1) solid;
    border-bottom: 2px rgba(94,150,127,1)  solid;
	width: 100%;		/* desired width */
    height: 925px;
}

@media only screen and (max-height: 1050px){
    #mapContainer {		/* desired width */
        height: 875px;
    }
}

@media only screen and (max-height: 1000px){
    #mapContainer {		/* desired width */
        height: 825px;
    }
}

@media only screen and (max-height: 950px){
    #mapContainer {		/* desired width */
        height: 775px;
    }
}
@media only screen and (max-height: 900px){
    #header{
        padding-top: 0px;
    }  
    
    #mapContainer {		/* desired width */
        height: 750px;
    }
}
@media only screen and (max-height: 850px){
    #mapContainer {		/* desired width */
        height: 700px;
    }
}
@media only screen and (max-height: 800px){
    #mapContainer {		/* desired width */
        height: 650px;
    }
}
@media only screen and (max-height: 750px){
    #mapContainer {		/* desired width */
        height: 600px;
    }
}
@media only screen and (max-height: 700px){
    #mapContainer {		/* desired width */
        height: 550px;
    }
}

#cards{
    text-align:center;  
    height: 390px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right:20px;
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;
}

#cards:hover{
    overflow-y: scroll;
    padding-right:0px;
}


.story{
    text-align: left;
    padding:10px;
    background-color: rgba(255,255,255,0.3);
    width: 300px;
    min-height: 160px;
    margin: 5px;
    float:left;
}

@-webkit-keyframes fadeIn2 {
    0%   {background: rgba(0,0,0,0);}
    100% {background: rgba(255,255,255,0.9);}
}


.story:hover{
    -webkit-animation: fadeIn2 0.5s; /* Chrome, Safari, Opera */
    animation: fadeIn2 0.5s;
    background-color: rgba(255,255,255,0.9);
}

.story_bright{
    -webkit-animation: fadeIn2 1s; /* Chrome, Safari, Opera */
    animation: fadeIn2 1s;
    background-color: rgba(255,255,255,0.9);
}

.shadow{
font-size: 100%;
color: #000;
text-shadow: #fff 0px 0px 20px, #fff -0px -0px 20px;
}